header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    z-index: 1000;
    background-color: #222120;
}

/* .logo {
    font-family: 'Racing Sans One', sans-serif;
    height: 80px;
    font-size: 35px;
    color: #ffffff;
    letter-spacing: 2px;
    font-weight: 900;
    font-style: italic;
    text-decoration: none;
    padding-left: 30px;
} */

.logo {
    height: 80px;
    /* display: flex;
    align-items: center; */
    width: 184px;
}

.logo img {
    height: 80px;
    width: 173px;
    margin-left: 10px;
}

.search-bar {
    display: flex;
    height: 40px;
    width: 50%;
    margin-left: 60px;
}
input {
    height: 40px;
    width: 80%;
    padding: 0 20px;
    margin-left: -20px;
    box-sizing: border-box;
    border: none;
    background-color: #2b2928;
    transition: box-shadow 0.3s ease-in-out;
    color: #9e9b99;;
    margin-right: 0;
}

input:focus {
    border: none;
    outline: none;
    color: #9e9b99;
}

.material-symbols-outlined {
    color: #ffffff;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    background-color: #2b2928;
}

nav {
    height: 80px;
    display: flex;
    align-items: center;
    width: 300px;
    justify-content: space-between;
    padding: 0 40px;
}

nav img {
    display: none;
}

nav li {
    list-style: none;
    font-size: 15px;
    height: 15px;
}

.li {
    color: #FFFFFF8C;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0px;
    text-decoration: none;
    font-weight: 400;
}

.li:hover {
    color: white
}

@media(max-width:970px) {
    .search-bar {
        width: 70%;
    }

    .li {
        display: none;
    }

    input {
        width: 90%;
    }

    nav {
        justify-content: center;
        width: 200px;
    }

    nav img {
        display: block;
        width: 40px;
        height: 40px;
        margin-left: 50px;
    }
}

@media(max-width:645px) {

    .logo{
        width: 160px;
    }
    .logo img {
        height: 65px;
        margin-left: 19px;
        margin-top: 5px;
        width:141px
    }

    nav {
        width: 100px;
        padding: 0 0px;
    }

    nav img {
        margin-left: 0px;
    }
}

@media(max-width:455px) {

    input {
        display: none;
        transition: 0.5s;
        width: 230px;
    }
    .search-bar {
        width: 200px;
        /* margin-left: 70px; */
        justify-content: right;
        margin-left: 0.7px;
        /* margin-right: 100px; */
    }

    .material-symbols-outlined {
        background-color: transparent;
    }

    nav img {
        height: 32px;
        width: 32px;
    }
}
@media (max-width:400px){
    .search-bar {
        margin-left: 60px;
    }
    nav{
        width: 50px;
        margin-right: 20px;
    }
}